*{
    margin: 0;
    padding: 0;
}
.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    text-align: center;
}
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
    background-color: #FFFFFF;
}
header .navbar nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
header .navbar nav ul a{
    text-decoration: none;
}
.navbar nav ul li{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    padding: 12.5px 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: #36724f;
    color: rgba(0, 0, 0, 0.403);
     box-shadow: 0 0 10px rgb(255, 255, 255);
}
#access:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.background{
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 116px 120px 179px;

}
section .hero {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
section .hero .early{
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 16px;
    cursor: pointer;
}
.hero .early:hover{
    background-color: #e8f5ef;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.581);
}
section .hero h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}
section .hero h1 span{
    display: block;
    color: #30B868;
}
section .hero p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 16px auto 32px;
    max-width: 750px;
}
section .hero p span{
    margin-top: 12px;
    display: block;
}
section .hero .buton{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    gap: 16px;
}
section .hero .buton #clear{
    background:transparent;
    border: 1px solid #FFFFFF;
}
#clear:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.581);
}
#card h1 , .image h1{
    font-size: 48px;
    color: #001931;
}
#card p , .image p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}
#card h1{
    padding-top: 60px;
}
#card p{
    margin-bottom: 44px;
}
#card .card-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
}
.card-container div img{
    height: 32px;
    width: 32px;
    padding: 14px;
    background-color: #F95555;
    border-radius: 100%;
    margin-bottom: 16px;
}
.card-container .cards{
    max-width: 322px;
    padding: 69.5px 24px;
    border-radius: 8px;
    box-shadow: 0 0 8px #0000000F;
}
.card-container .cards h3{
    color: #001931;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}
.card-container .cards p{
    max-width: 274px;
}
.image{
    padding-top: 72px;
    display: flex;
    margin: 0 120px 120px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.image .list{
    max-width: 700px;
    text-align: left;
}
.image .list .solution{
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.image .list p{
    max-width: 700px;
    margin-bottom: 40px;
}
.image .list ul li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}